@import '../../App.scss';


.tableId{
     font-weight: 600;
     letter-spacing: 0.03em;
}
.tableTxt{
    font-weight: 500;
    letter-spacing: .03em;
}

#delivery-agent{
    .heading{
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 38px;
        color: #141C38;
        margin: 1rem 0;
    }
  
}