@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

.overflow-text {
  width: 250px;
  word-wrap: break-word;
}

.available {
  padding: 2px 3px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #50cd89;
  background-color: #e8fff3;
  text-align: center;
  border-radius: 5px;
}

.offline {
  padding: 2px 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #f1416c;
  text-align: center;
  background: rgba(241, 65, 108, 0.07);
  border-radius: 5px;
}

.busy {
  padding: 2px 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffb526;
  text-align: center;
  background: rgba(255, 181, 38, 0.2);
  border-radius: 5px;
}

.highlighted-col-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #3f4254;
}

.col-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #7e8299;
}

.card-container {
  height: 15rem;
  padding: 10px 15px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.card-container h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #141c38;
  border-bottom: 1px solid #eaeaea;
}
.card-container .container-content .container-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.card-container .container-content .container-row .container-col {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #7e8299;
}
.card-container .container-content .container-row .dark {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #7e8299;
}

#available-list .agent-header {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#available-list .agent-header .header-left h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #141C38;
}
#available-list .agent-header .header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#available-list .agent-header .header-right .search-box {
  margin: 0 0.2rem;
}
#available-list .agent-header .header-right .search-box input {
  padding: 8px 10px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-shadow: 0px 2px 1px rgba(84, 91, 252, 0.2);
  border-radius: 15px;
  width: 25vw;
  outline: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #7e8299;
}
#available-list .agent-header .header-right .add-btn {
  margin: 0 0.5rem;
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-shadow: 0px 2px 1px rgba(84, 91, 252, 0.2);
  border-radius: 15px;
  padding: 6px 10px;
  padding-top: 7px;
  align-items: center;
  cursor: pointer;
}
#available-list .agent-header .header-right .add-btn img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
#available-list .agent-header .header-right .filter-btn {
  margin: 0 0.5rem;
  margin: 0 0.5rem;
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-shadow: 0px 2px 1px rgba(84, 91, 252, 0.2);
  border-radius: 15px;
  padding: 6px 10px;
  padding-top: 7px;
  align-items: center;
  cursor: pointer;
}
#available-list .agent-header .header-right .filter-btn img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=style.css.map */