@import "../../App.scss";


.hidden{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
#order-details {
  .order-header {
    display: flex;
    margin-bottom: 10px;
    padding: 5px 0;
    justify-content: space-between;
    align-items: center;
    .left {
      display: inline-flex;
      h3 {
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        color: #141c38;
        padding-left: 10px;
      }
    }
  }
  .order-details-content {
    .container {
      padding: 0.5rem 1rem;
      background: #ffffff;
      border: 1px solid #eaeaea;
      border-radius: 10px;
      scrollbar-width: none;
      /* For Firefox */
      -ms-overflow-style: none;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
      h3 {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: $heading_color;
        border-bottom: 1px solid #eaeaea;
      }
      .container-content {
        padding: 0.5rem 0rem;
        .container-row {
          padding: 1rem 0;
          display: flex;
          justify-content: space-between;
          gap:1rem;
          overflow-x: scroll;
          .container-col {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #7e8299;
            letter-spacing: 0.02em;
          }
          .sm {
            font-size: 14px;
            line-height: 20px;
          }
          .dark {
            color: #7e8299;
            font-weight: 600;
          }
        }
      }
    }
    
  }
  .order-tracking{
     margin: 0.5rem 0;
     .timeline{
       margin-top: 3rem;
     }
  }

}
