.dot {
  height: 28px;
  width: 28px;
  background-color: #545bfc;
  border-radius: 50%;
  margin-top: -7px;
}
.smallDot {
  height: 13px;
  width: 13px;
  background-color: #545bfc;
  border-radius: 50%;
  margin-right: 15px;
}

.custom-steps .ant-steps-item:not(:last-child) .ant-steps-item-tail::after {
  height: 8px;
  width: 100%;
  background-color: #545bfc;
}
