@import "../../App.scss";


#dashboard {
  background-color: $background_color;
  .header {
    padding: 0;
    position: sticky;
    top: 0;
    background-color: $buttonText_color;
    margin-left: 1rem;
  }
  .content{
    height: 85vh;
    margin: 1rem 0 0 1rem;
    overflow-y: scroll;
  }
    
}
