@import '../../App.scss';


#agent-details{

    h2{
         font-size: 30px;
        
         letter-spacing: 0.03em;
         font-weight: 800;
         color: $heading_color;
    }
    .content{
         padding: 1rem 0;
         .content-row{
             margin: 1rem 0;
             .col-item{
                 display: flex;
                 padding:0 0.3rem;
                 span{
                     font-size: 18px;
                     font-weight: 500;
                     color: $heading_color;
                     padding-right: 10px;
                 }
                 p{
                    font-size: 16px;
                    font-weight: 500;
                    color: grey;
                    padding-right: 10px; 
                 }
             }
         }  
    }
}


