@import "../../../App.scss";

.ant-pagination-item-link {
  font-size: 12px;
}

#custom-table .ant-pagination {
  &.ant-pagination-small {
    .ant-pagination-item {
      font-size: 12px;
      margin: 0;
    }
  }
}
#custom-table {
  table {
    // background: #FFFFFF;
    background: #ffffff;
    border: 1px solid #eaeaea;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  thead > tr > th {
    background: #f1f3f6;
    color: #141c38;
    font-size: 15px;
    letter-spacing: 0.03em;
  }
}
