@import "../../App.scss";

.status-tick{
  padding: 14px;
  object-fit: contain;
  background: #F1416C;
  border-radius: 15px;
}
.reject-tick{
  padding: 14px;
  object-fit: contain;
  background: #FFB526;
  border-radius: 15px;
}
.time-tick{
  padding: 14px;
  object-fit: contain;
  background: #545BFC;
  border-radius: 15px;
}

// #agent-details {
//   width: 100%;
//   scrollbar-width: 3px;
// }


.badge-icons {
  margin: 0 8px;
  padding: 7px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-shadow: 0px 2px 1px rgba(84, 91, 252, 0.2);
  border-radius: 15px;
  cursor: pointer;
}

.status-card{
    padding:  0.5rem;
    flex: 3;
    margin:10px 0;
    // margin-right: 0.3rem;
    display: flex;
    align-items: center;
    background: #ffffff;
    border: 1px solid #eaeaea;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}