@import '../../App.scss';

.builk-assign{
   padding-right: 0.8rem;
}
#orders{
   h3{
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 38px;
      color: #141C38;
      margin: 1rem 0;
    }
}

