@import "../../App.scss";

.tableId {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: "#000000";
}
.tableTxt {
  color: #777777;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

#available-list{
    display: flex;
    flex-direction: column;
   
    .available-list-header{
       display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
}
